---
import Shell from '../../layouts/Shell.astro';
import PageHeader from '../../components/PageHeader.svelte';
import BenefitsFinder from '../../components/BenefitsFinder.svelte';
---

<Shell title="Benefits Finder" branch="self">
  <PageHeader
    title="Benefits Finder"
    subtitle="Answer a few questions and we'll show you every benefit you might be entitled to."
    branch="self"
    backHref="/self"
    backLabel="Knowing Yourself"
  />

  <section class="px-5 pb-10">
    <BenefitsFinder client:load />
  </section>
</Shell>
